/* broadway css */

body{
  text-align: center;
  font-family: helvetica, sans-serif;
}

.header {
  background-image: url(../img/the-flatiron-building.png);
}

h1  {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

nav a {
  display: block;
  font-size: 18px;
  color: white;
}

h2  {
  font-size: 32px;
  font-weight: bold;
}

h3  {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
 }

 .midheader {
   background-image: url(../img/the-flatiron-building.png);
   font-size: 23px;
   font-weight: bold;
   color: white;
 }

 .footer {
   background-color: dimgray;
   font-size: 11px;
   color: white;
   text-align: left;
 }

 .footer a {
  font-size: 15px;
   color: white;
 }
